*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eeeeee;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 350px;
}

#checkpointContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkpoint{
    background-color: #ffffff;
    color: #929292;
    border-radius: 50%;
    border: solid #929292;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    border: solid #2881d4
}

button{
    border-radius: 6px;
    background-color: #2881d4;
    color: #ffffff;
    border: none;
    padding: 5px;
    width: 90px;
    height: 35px;
    cursor: pointer;
}